.cont{
    margin: 10%;
    border-width: 1%;
    border-color: rgb(43, 137, 226);
    border-style: solid;
    position: absolute;
    display: block;
    align-items: center; /*it does not work with block display*/
}


.comps{
    border-width: 1%;
    border-color: blueviolet;
    width: 50%;
    background-color: rgb(178, 141, 212);
    border-style: solid;
    margin: 5%;
}