body{
  background-color: rgb(251, 232, 255);
}

div {
  text-align: center;
  
}

.nav {display:flex;
  background:rgb(213, 177, 239); 
  padding: 8px 20px;}


.nav ul {margin: 5px 20px; 
  font-size:16px; 
  color:rgb(181, 68, 196); 
  text-decoration:none;}
