body{
  background-color: rgb(198, 223, 223);
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #a6bcd4;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.container-titles{
  background-color: #ccdff4;
  padding: 20px;
  margin:  0;
}

h1 {
  font-size: 24px;
  margin: 0 0 20px;
  text-align: center;
}

form {
  display: flex;
  align-items: center;
}

input[type="text"] {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

button {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

button:hover {
  background-color: #0062cc;
}
.but{
  margin-top: 10px;
  margin-bottom: 10px;
}

.photo-list {
  margin-top: 20px;
  list-style: none;
  padding: 0;
}

.photo-list li {
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 1.5;
}

p {
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  margin: 0 0 16px;
}

