body {
    width: 550px;
    margin: 4% auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 3px;
    font-size: 25px;
    background-color: rgb(227, 241, 242);
    align-items: center;
  }

  .title{
    background-color: #287c7c5f;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    padding-left: 65px;
    letter-spacing: 3px;
    font-size: 60px;    
    padding-bottom: 0px;
    
}

.info{
  padding-top: 5px;
}

.personalInfo{
  border: 1px solid #1f1a1a;
  height: 20px;
  font-size: 20px;
   
}

.personalInfo:hover {
  border: 1px solid #000000;
  background-color: #f1ebeb52;

}



.Todo{
    padding: 0px 15px;
    box-shadow: 0px 1px 4px 0px rgba(223, 149, 221, 0.2);
    border-radius: 20px;
    background-color: #70b1bc;
  }
  
  .input {
    border: 1px solid #ddd;
    border-radius: 15px;
    height: 30px;
    width: 70%;
    padding-left: 10px;
    padding-top: 5px;
    text-align: left;
    margin-right: 3px;
    font-size: 25px;
    box-shadow: #0a0a0a;
    color: #000000;   

  }

  .input:hover {
    border: 1px solid #000000;
    background-color: #ffffff8f;
 
  }


  .but{
    flex: 0 0 22%;
    margin: 0px 0;
    border: 1px solid #5db5b1;
    height: 40px;
    font-size: 25px;
    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
    background-color: #5db5b1;
    padding-top: 5px;
    text-align: center;
  }

  .but:hover {
    background-color: #28696f;
    box-shadow: 0px 1px 4px 0px rgba(32, 3, 46, 0.2);
    border-color: #28696f;
    color: #fff;
  }


  .list{
    list-style-type:none;
  }

  .container {
    padding-left: 0px;
    margin-bottom: 0px;
    cursor: pointer;
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
  }


  .checkbox{
    background-color: #fff;
    margin: 15px;
    color: currentColor;
    width: 25px;
    height: 25px;
    border: 2px solid currentColor;
    border-radius: 60px;
  }

  .checkbox:hover {
    background-color: #c8c7c7;
  }

  .checkbox::after{
    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.butons{
 padding-right: 1px;
}

.delete{
  border: 1px solid #5db5b1;
  height: 40px;
  font-size: 25px;
  font-weight: 600;
  border-radius: 8px;
  cursor: pointer;
  background-color: #ed7373;
  padding-top: 5px;
  text-align: center;
  transition: background .2s ease-in-out;
}

.delete:hover {
  background-color: #e44949;
  box-shadow: 0px 1px 4px 0px rgba(32, 3, 46, 0.2);
  border-color: #e44949;
  color: #ddd;
}

.edit{
  margin-left: 0px;
  border: 1px solid #5db5b1;
  height: 40px;
  font-size: 25px;
  font-weight: 600;
  border-radius: 8px;
  cursor: pointer;
  background-color: #73edba;
  padding-top: 5px;
  text-align: center;
  transition: background .2s ease-in-out;
}

.edit:hover {
  background-color: #4a9476;
  box-shadow: 0px 1px 4px 0px rgba(32, 3, 46, 0.2);
  border-color: #3e8165;
  color: #ddd;
}


  